<% if @skills 
    @skills.each do |skill| %>

    <div id="skill-<%= skill.name %>" class="skill-badge">
        <%= skill.name %>
        <span class="num-users-badge"><%= UserSkills.where(skill_id: skill.id).length %></span>
        <span class="skill-delete"><%= button_to "x", users_delete_skill_path, remote: true, params: {skill: skill}, method: :post, form_class: "skill-delete-form" %></span>
    </div>

<% end 
end %>