// Style.scss

$primaryFontColor: #000;
$pageBackgroundColor: #f5f5f5;
$wellBackgroundColor: #cfe0e9;

$primaryFont: "Nunito Sans", Helvetica, Ariel, Sans;

@mixin filter-gradient($color1, $color2, $direction) {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color1, endColorstr=$color2,GradientType=1 );
}



// Homepage Styles
body.home {
    width:100%;
}

#home-hero-image {
    height:500px;
    background: #2aacd3;
    background: -moz-linear-gradient(-45deg, #2aacd3 0%, #3cc9b8 100%);
    background: -webkit-linear-gradient(-45deg, #2aacd3 0%,#3cc9b8 100%);
    background: linear-gradient(135deg, #2aacd3 0%,#3cc9b8 100%);
    @include filter-gradient(#2aacd3, #3cc9b8, horizontal);
    margin: auto;
    color:white;
    padding:0px;
    
    h1 {
        font-size:50px;
        text-align:center;
    }
    h2 {
        font-size:26px;
        text-align:center;
        text-shadow: 1px 1px 2px black;
    }
    
    #hero-image-handshake {
        background-image: url(image_path('/assets/handshake.png'));
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding: 25px 0 0px;
        height: inherit;
    }
}

#home-start {
    display:flex;
    
    .left-side-box, .right-side-box {
         padding:20px;
    }
}

#home-featured {
    display:flex;
    
    .left-side-box, .right-side-box {
        padding:20px;
    }       
}

// User#show styles

#profile-picture-box {
    width:200px;
    height:200px;
    background-color:#AAA;
    border-radius:4px;
    float:right;
    
    img {
        width:100%;
    }
}

#accomplishments-container {
    margin:20px 0;
    background-color:#AAA;
    border-radius:6px;
    padding:20px;
    .accomplishments-numbers {
        font-size:24px;
        font-weight:700;
    }
}

