// Main Template Styles
* {
    box-sizing:border-box;
}

body {
    color: $primaryFontColor;
    background-color: $pageBackgroundColor;
    font-family: $primaryFont;
    margin:0;
    box-sizing:border-box;
}

#content {
    width:80%;
    margin: 30px auto;
    
}

.container {
    padding: 40px 200px;
    width:100%;
    box-sizing:border-box;
}

.flex-container {
    display:flex;
}

.well {
    background-color: $wellBackgroundColor;
}

.left-side-box, .right-side-box {
    width:50%;       
}

#nav {
    display:flex;
    height:56px;
    background-color: black;
    width:100%;
    padding:0 20px;
    
    #nav-logo, #nav-user, #nav-items {
        color:white;
        p {
            font-size:18px;
            font-weight: 700;
        }
    }
    
    #nav-logo {
        width:20%;
        a {
            font-size: 32px;
            padding: 10px;
            display: block;
            color: #0db590;
        }
    }
    
    #nav-items {
        width:35%;
        color:white;
        
        ul {
            list-style-type:none;
            
            li {
                padding: 3px 10px;
                float:left;
            }
        }
    }
    
    #nav-user {
        width:45%;
        ul {
            list-style-type:none;
            
            li {
                padding: 3px 10px;
                float: right;
            }
        }
    }
}

#notice, #alert {
    text-align: center;
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    display:none;
}

#notice {
    color: #1dde12;
    background-color: rgba(32, 123, 32, 0.2);
    box-shadow: inset 0px 0px 50px rgba(0,0,0,.1);
}

#alert {
    color: #c13030;
    background-color: rgba(210, 30, 57, 0.3);
    box-shadow: inset 0px 0px 50px rgba(0,0,0,.2);
}

p {
    margin:0;
}

footer {
    background-color:#999;
    padding:20px 60px;
    
}