.skill-badge {
    padding:4px;
    border-radius:5px;
    margin:10px;
    background-color:#DDD;
    display:inline-block;
}

.user-next-steps {
    .right-side-body, .left-side-body {
    
        padding: 20px 10px;
        
    }
}