.skill-badge {
    padding:16px;
    border-radius:5px;
    margin:10px;
    background-color:$darkBoxColor;
    display:inline-block;
    color:white;
    form {
        display: inline-block;
        
        input[type="submit"] {
            background: none;
            border: none;
            color: white;
            position: relative;
            bottom: 17px;
            left: 9px;
            cursor: pointer;
            padding: 0;
        }
    }
}

.user-next-steps {
    .right-side-body, .left-side-body {
    
        padding: 20px 10px;
        
    }
}

#user-skills-box-titles {
    display:flex;
    justify-content:space-between;
    align-items:center;
}