<!DOCTYPE html>
<html>
<head>
  <title>Handshakes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav id="nav">
    <div id="nav-logo">
      <p>Handshakes</p>
    </div>
    <div id="nav-items">
      <ul>
        <li>Home</li>
        <li>How It Works</li>
        <li>Our Impact</li>
      </ul>
    </div>
    <div id="nav-user">
      <ul>
        <li>Sign up</li>
        <li>Sign in</li>
      </ul>
    </div>
  </nav>
  


  <%= yield %>
  
</body>
<footer>
  <div class="container">
    <p>Handshakes is a thing.</p>
  </div>
</footer>
</html>
