
<div id="content">
    
    <h1>Learn more about Handshakes and how it works!</h1>
    
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>

	<p>Handshakes creates a huge pool of volunteer opportunities to benefit the causes you care most about. Here are the steps:</p>

	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">1. Sign Up</h3>
	  </div>
	  <div class="panel-body">
	    Create an account with Handshakes. List your marketable skills and choose one or more charitable causes that you want to donate.
	  </div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">2. Apply for Volunteer Positions</h3>
	  </div>
	  <div class="panel-body">
	    Our system will provide you a list of what we think will be good volunteer opportunities for you, based on your skills and the kind of work you want to do. You can also search by highest donation amount and proximity to you. 
	  </div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading ">
	    <h3 class="panel-title">3. Communicate with your client</h3>
	  </div>
	  <div class="panel-body">
	    Make sure the terms of your work and any deliverables are clearly stated between you and your client. This includes setting your predicted amount of hours if the client is donating based on an hourly wage. Remember also that managing expectations is an important part of a professional relationship!
	  </div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">4. Complete your work</h3>
	  </div>
	  <div class="panel-body">
	    Keep your client updated and finish your work in your previously determined timeframe. 
	  </div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">5. Submit your work</h3>
	  </div>
	  <div class="panel-body">
	    Upon completion of your project, your client approves your work and donates the agreed upon amount to your charity. If you got any perks from the client, the client will send those to you too. Your total number of hours worked and money donated in your profile increases, which will lead to you being selected more often to complete work. </div>
	</div>
	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">6. Leave your reviews</h3>
	  </div>
	  <div class="panel-body">
	    Handshakes reviews make it easier to choose the best clients and the best volunteers. Leave a review for your client! You have an option to review them anonymously, publicly, or to message them privately. Help other volunteers make the right choice.
	  </div>
	</div>

</div>