<div id="home-hero-image" class="container">
    <h1>Handshakes</h1>
    <h2>1. You Volunteer for a Business</h2>
    <h2>2. They Donate to a Non-Profit of your Choice</h2>
    <h2>3. We All Make A Difference!</h2>
    
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    
</div>

<div id="home-start" class="container">
    <div class="left-side-box">
        <h3>Volunteers</h3>
        <button>Find A Project!</button>
    </div>
    <div class="right-side-box">
        <h3>Businesses</h3>
        <button>Post a Need!</button>
    </div>
</div>

<div id="home-featured" class="container">
    <div class="left-side-box well">
        <h3>Featured Volunteer:</h3>
        <p><strong>Monica Geller</strong></p>
        <p>Monica Geller is a chef at Javu's Restaurant in NYC. Monica volunteers her services to prepare gourmet meals for such celebrities as Jon Favreau, Tom Selleck, Jon Lovitz, and Matthew Perry. She uses handshakes to support her friends' non-profit, Relaxicab - a massage taxi service that helps transport underpriveliged people with an added bonus.</p>
    </div>
    <div class="right-side-box well">
        <h3>Featured Business</h3>
        <p><strong>DREAM Animal Rescue</strong></p>
        <p>Dream Animal Rescue operates in south Orange County to foster displaced cats until they can find forever homes. Our adoption center is located in Lake Forest just off of El Toro Rd. Visit our website at http://www.dreamanimalrescue.org/ to see our list of adoptable animals, or schedule a visit with one of our kitties!</p>
    </div>
</div>