
<div id="content">
    
    <h1>About Handshakes</h1>
    
    <%= render 'partials/flash_notices' %>
			
	<p> The idea of Handshakes was concieved in late 2014 out of a desire to help other people using the skills and gifts that people already have. I personally am heartbroken by the homeless population that I will constantly drive by in Orange County and on Skid Row in LA, and I wanted to have a discussion with the people who constantly worked with the homeless about the long term strategies of how we can improve the lives of our cities' homeless populations. Most of these conversations, unfortunately, ended up with a recommendation to come out to a shelter and help serve food. I've done it before, and I'm happy to do it again, but I don't believe my best skills and abilities lie in serving food.
	</p>
	<p>	As much as we wish it wasn't true, change takes time, money, and a lot of personal and emotional involvement. This is not just true for homelessness, but for foster families, human trafficking, poverty programs, and animal rescues. The idea of Handshakes is that it allows us to support causes that we really believe in. Not all of us can be on the ground in a warzone, but those that are, like my friends <a href="https://27million.com/">Benny and Janice Yu fighting human trafficking in Mexico City,</a> need all the help they can get. I’d love for people to be able to support them by raising money for them doing the things that they love. Handshakes is my solution for that. 
	</p>

	<p> - Matt Cheah, <em>Founder</em> </p>
	
</div>